@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.container-fluid{
  background-color: black;
}

.container{
  background-color: black;
}

.navbar ul{
  margin-left: 73%;
}

.navbar .nav-link{
  color: aliceblue;
  font-size: 16px;
  font-weight: 600;
}

.navbar .nav-link:hover{
  color: blueviolet;
}

.navbar .active{
  background-color: rgb(123, 95, 160);
  border-radius: 30px;
}

.projeto{
  margin-top: 5%;
  margin-bottom: 5%;
}

.projeto img{
  width: 70%;
  border-radius: 50%;
}

.projeto .titulos{
  color: aliceblue;
  text-align: center;
  margin-top: 20%;
  margin-bottom: 5%;
}

.projeto .titulos h1{
  font-size: 50px;
  font-family: 'Open Sans', sans-serif;
}

.projeto .titulos h2{
  font-size: 30px;
}

.projeto svg{
  margin-top: 8%;
  margin-bottom: 8%;
  color: aliceblue;
}

.bi:hover{
  color: blueviolet;
}

.bi-instagram{
  margin-left: 80%;
}

.bi-github{
  margin-left: -5%;
}

.bi-linkedin{
margin-left: -90%;
}